<?xml version="1.0"?>
<model>
  <name>Single-I</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Aaron</name>
   <email>afcofiel@umich.edu</email>
  </author>

  <description>
    Institute of Navigation's single I course boundary for the autonomous snowplow competition.
  </description>
</model>
