<?xml version="1.0"?>
<launch>
    <!-- Static Transforms -->
    <!--
    <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_ouster_laser_link" args="0.33 0 0.75 0 0 0 base_link os1_sensor 10"/>
    <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_camera_to_base" args="-0.364 -0.02 -0.63 0 0 0 camera_pose_frame base_link 0"/>
    -->
    <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_ouster_laser_link" args="0.29 0.00 0.76 0 0 0 base_link os1_sensor 0"/> 
</launch>
