<?xml version="1.0"?>

<model>
  <name>Brick Plane</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Aaron C. based on model by Nate Koenig</name>
    <email>afcofiel@umich.edu</email>
  </author>

  <description>
    A simple ground plane but with a brick surface! Made for simulating the road at the Institute of Navigations, Autonomous Snowplow Competition.
  </description>
</model>
