<launch>

    <!-- Joystick -->
    <node pkg="joy" type="joy_node" name="joy_node"/>
    <node pkg="isc_joy" type="joystick_xbox360" name="joystick_xbox360"/>
    <param name="manual_control_speed_multiplier" value="0.3"/>
    <param name="manual_control_turn_multiplier" value="0.4"/>
    <node pkg="isc_joy" type="manual_control" name="manual_control"/>

    <!-- === Yeti Main === -->
    <!-- LiDAR -->
    <arg name="host" default="192.168.0.100"/>
    <node pkg="isc_sick" name="isc_sick" type="LMS1xx_node">
        <param name="host" value="$(arg host)"/>
        <param name="frame_id" value="sick_laser_link"/>
        <param name="use_tf_correction" value="true"/>
    </node>

    <param name="auto_control_logic_enable_logging" value="false"/>
    <node pkg="yeti_snowplow" type="auto_control_logic" name="auto_control_logic" output="screen"/>

    <!-- Drive Mode Control -->
    <node pkg="yeti_snowplow" type="yeti_drive_mode_control" name="yeti_drive_mode_control"/>

    <!-- Roboteq -->
    <param name="serial_port" value="/dev/ttyUSB0"/>
    <node pkg="isc_roboteq_hdc2460" type="roboteq_hdc2460" name="roboteq"/>

    <node pkg="odom_sub" type="odom_sub_node" name="odom_sub_node"/>
    <node pkg="pose_publisher" name="pose_publisher" type="pose_publisher_node">
    </node>
    <!--<include file="$(find yeti_snowplow)/launch/zed.launch">-->
    <!--<arg name="publish_map_tf" value="false" />-->
    <!--<arg name="base_frame" value="base_link" />-->
    <!--</include>-->

    <arg name="pi/2" value="1.5707963267948966"/>
    <arg name="optical_rotate" value="0 0 0 -$(arg pi/2) 0 -$(arg pi/2)"/>

    <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_zed"
          args="$(arg optical_rotate) base_link zed_camera_center 10"/>


    <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_sick_laser_link" args="0.33 0 0.75 0 0 0 base_link sick_laser_link 10" />

    <include file="$(find zed_opencv_ros)/launch/zed_native.launch"/>

    <!--<include file="$(find lvt)/launch/lvt_node.launch" />-->
    <!-- Viso2 -->
    <node pkg="viso2_ros" type="stereo_odometer" name="stereo_odometer">
        <remap from="stereo" to="/"/>
        <remap from="image" to="image_rect_gray"/>
        <param name="base_link_frame_id" value="base_link"/>
        <param name="sensor_frame_id" value="zed_camera_center"/>
    </node>


    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <param name="map_update_interval" value="2.0"/>
         <param name="base_frame" value="zed_camera_center" />
    </node>
</launch>
