<?xml version="1.0"?>
<launch>
    <!-- Topic Bases -->
    <arg name="input_base" value="/yeti/input" />
    <arg name="signal_base" value="/yeti/signals" />
    <arg name="actuation_base" value="/yeti/actuation" />
    <arg name="state_base" value="/yeti/state" />
    <arg name="perception_base" value="/yeti/perception" />
    <arg name="localization_base" value="/yeti/localization" />
    <arg name="navigation_base" value="/yeti/navigation" />
    <arg name="feedback_base" value="/yeti/feedback" />

    <!-- Joystick -->
    <remap from="joy" to="$(arg input_base)/joy" />
    <remap from="joystick/xinput" to="$(arg input_base)/xinput" />
    <remap from="manual_control_vel" to="$(arg actuation_base)/manual_control" />
    <include file="$(find isc_joy)/launch/joystick_xbox360.launch">
        <arg name="speed_multiplier" value="0.3"/>
        <arg name="turn_multiplier" value="0.4"/>
    </include>

    <!-- robot state control -->
    <remap from="state/robot" to="$(arg state_base)/system" />
    <remap from="signal/kill" to="$(arg signal_base)/kill" />
    <remap from="signal/pause" to="$(arg signal_base)/pause" />
    <remap from="signal/soft_pause" to="$(arg signal_base)/soft_pause" />
    <!-- <include file="$(find robot_state_controller)/launch/robot_state_controller/state_control.launch" /> -->

    <!-- drive mode switch -->
    <remap from="robot_state" to="$(arg state_base)/system" />
    <remap from="joystick" to="$(arg input_base)/xinput" />
    <remap from="auto_control_vel" to="$(arg actuation_base)/auto_control" />
    <remap from="control_vel" to="/yeti/cmd_vel" />
    <!--<remap from="control_vel" to="$(arg actuation_base)/control" />-->
    <remap from="drive_mode" to="$(arg state_base)/drive_mode" />
    <include file="$(find robot_state_controller)/launch/drive_mode_switch/switch.launch" />

    <!-- Static Transforms -->
    <include file="$(find mammoth_snowplow)/launch/simulation/static_transforms_simulation.launch"/>


    <!-- Localization-->
    <include file="$(find mammoth_snowplow)/launch/simulation/start_gmapping_simulation.launch"/>


    <!-- Custom Waypoints
    <remap from="$(arg actuation_base)/control2" to="/yeti/cmd_vel"/>-->
    <include file="$(find mammoth_snowplow)/launch/simulation/start_waypoint_publisher_simulation.launch"/>

    <!-- Start Gazebo Simulation -->
	<param name="use_sim_time" value="true" />
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find yeti_snowplow)/srv/single-I_nosnow.sdf"/>
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="recording" value="false"/>
		<arg name="debug" value="false"/>
	</include>

    <!-- Guidance -->
    <remap from="/cmd_vel" to="$(arg actuation_base)/auto_control"/>
    <include file="$(find mammoth_snowplow)/launch/start_move_base.launch"/>
</launch>
