<?xml version="1.0"?>
<model>
  <name>Pylon (Orange)</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Aaron C</name>
   <email>afcofiel@umich.edu</email>
  </author>

  <description>
    An orange pylon that resembles the pylons used in the Institute of Navigations Autonomous Snowplow Competition
  </description>
</model>
