<?xml version="1.0"?>
<launch>
	<node pkg="rosbag" type="record" name="yeti_bag_record" args="record -o /home/isc/rosbags/mammoth_bag 
	    
	    /camera/odom/sample
	    /camera/fisheye1/image_raw
	    /camera/fisheye2/image_raw
	    /map
        /map_boundary
        /map_boundary_metadata
        /map_boundary_updates
        /map_metadata
        /map_updates
        /move_base/DWAPlannerROS/cost_cloud
        /move_base/DWAPlannerROS/global_plan
        /move_base/DWAPlannerROS/local_plan
        /move_base/DWAPlannerROS/parameter_descriptions
        /move_base/DWAPlannerROS/parameter_updates
        /move_base/DWAPlannerROS/trajectory_cloud
        /move_base/NavfnROS/plan
        /move_base/NavfnROS/potential
        /move_base/cancel
        /move_base/current_goal
        /move_base/feedback
        /move_base/global_costmap/costmap
        /move_base/global_costmap/costmap_updates
        /move_base/global_costmap/footprint
        /move_base/global_costmap/inflation/parameter_descriptions
        /move_base/global_costmap/inflation/parameter_updates
        /move_base/global_costmap/parameter_descriptions
        /move_base/global_costmap/parameter_updates
        /move_base/global_costmap/static/parameter_descriptions
        /move_base/global_costmap/static/parameter_updates
        /move_base/global_costmap/static_wall/parameter_descriptions
        /move_base/global_costmap/static_wall/parameter_updates
        /move_base/goal
        /move_base/local_costmap/costmap
        /move_base/local_costmap/costmap_updates
        /move_base/local_costmap/footprint
        /move_base/local_costmap/inflation/parameter_descriptions
        /move_base/local_costmap/inflation/parameter_updates
        /move_base/local_costmap/obstacles_laser/parameter_descriptions
        /move_base/local_costmap/obstacles_laser/parameter_updates
        /move_base/local_costmap/parameter_descriptions
        /move_base/local_costmap/parameter_updates
        /move_base/parameter_descriptions
        /move_base/parameter_updates
        /move_base/result
        /move_base/status
        /move_base_simple/goal
        /odom
        /os1_cloud_node/imu
        /os1_cloud_node/points
        /os1_cloud_node/scan
        /os1_node/imu_packets
        /os1_node/lidar_packets
        /rosout
        /rosout_agg
        /slam_gmapping/entropy
        /tf
        /tf_static
        /yeti/actuation/auto_control
        /yeti/actuation/control
        /yeti/actuation/manual_control
        /yeti/input/joy
        /yeti/input/xinput
        /yeti/new_waypoints
        /yeti/pose
        /yeti/state/drive_mode
        /yeti/state/system
	    "
	    />
</launch>
