<?xml version="1.0"?>
<model>
  <name>Yeti w/ Plow</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Aaron</name>
   <email>afcofiel@umich.edu</email>
  </author>

  <description>
    Yeti Snowplow Robot with the plow attached. A unique robot built and operated by University of Michigan - Dearborn's Intelligent Systems Club.
  </description>
</model>
